
.content{
    margin-top: 70px;
}
.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}
.old_price {
    font-weight: bold;
    color:red;
    margin: 3px;
}
.new_price {
    font-weight: bold;
    background-color: green;
    margin: 3px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
.pic-box {

    position: relative;
}
.hot {
    background-color: orangered;
    color: white;
    font-weight: bold;
    width: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top:0px;
    right: 20px;
    z-index: 10;
}